.ProductList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); /* Adjusted minmax to make the cards wider */
  gap: 16px;
  justify-content: center;
  padding: 16px;
}

.Product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  /* max-width: 240px;  */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
  overflow: hidden; /* Ensures content does not overflow the container */
}

.Product:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increased shadow for hover */
}

.Product:active {
  transform: scale(0.98);
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Product img {
  /* width: 100%; */
  height: auto;
  max-height: 240px; /* Increased max-height to match the wider cards */
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.2s; /* Smooth transition for images */
}

.Product img:hover {
  transform: scale(1.05); 
}

.Product .description {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin: 8px 0;
  text-align: center;
  word-wrap: break-word; /* Ensures text wraps properly */
}

.Product .description:hover {
  color: #ff0095;
}

.Product .price-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
}

.Product .price {
  color: #555;
  font-size: 18px;
  font-weight: bold; /* Make price bold */
  margin-bottom: 8px;
}

@media (max-width: 600px) {
  .ProductList {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Adjusted for smaller screens */
    padding: 8px;
  }

  .Product {
    padding: 10px;
  }

  .Product img {
    height: 150px;
  }

  .Product .description {
    font-size: 14px;
    height: auto;
  }

  .Product .price-container {
    height: 20px;
  }

  .Product .price {
    font-size: 14px;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .ProductList {
    gap: 12px;
  }

  .Product {
    max-width: 220px; /* Adjusted for medium screens */
    padding: 12px;
  }

  .Product img {
    height: 180px;
  }

  .Product .description {
    font-size: 16px;
    height: auto;
  }

  .Product .price-container {
    height: 24px;
  }

  .Product .price {
    font-size: 16px;
  }
}

@media (min-width: 1201px) {
  .ProductList {
    grid-template-columns: repeat(4, 1fr); /* Display 4 cards per row on larger screens */
    gap: 16px;
  }

  .Product {
    /* max-width: 240px; Ensuring cards are wider */
    padding: 12px;
  }

  .Product img {
    height: 240px; /* Adjusted height for wider cards */
  }

  .Product .description {
    font-size: 16px;
    height: auto;
  }

  .Product .price-container {
    height: 24px;
  }

  .Product .price {
    font-size: 16px;
  }
}
