/* Define keyframes for the animation */
@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply the animation to the .Nav class */
.Nav {
  width: 100%;
  animation: slideIn 1s ease-in-out; /* Adjust the duration and timing function as needed */
}

.NavUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.NavItem {
  margin: 0;
}

.NavLink {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition for text and background color changes */
}

.NavLink:hover {
  color: #fff; /* Change text color on hover */
  background-color: #f4bad0; /* Change background color on hover */
}
