.CategoryList {
  padding: 20px;
}

.CategoryList ul {
  list-style-type: none;
  padding: 0;
}

.CategoryList li {
  margin-bottom: 10px;
}

.CategoryList li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: color 0.3s ease;
}

.CategoryList li a:hover {
  color: #666;
}

/* Анимация для удаления категории */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.CategoryList li .deleteAnimation {
  animation: fadeOut 0.3s ease forwards;
}
