.section-about {
  padding: 10px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 26px;
  font-variant-caps: petite-caps;
  font-size: 22px;
  text-decoration: underline;
}

.section-description {
  font-size: 22px;
  margin-bottom: 30px;
}

.values-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.values-list {
  list-style-type: disc;
  padding-left: 20px;
}

.value-item {
  font-size: 20px;
  margin-bottom: 10px;
}

.About h1 {
  font-size: 30px;
  margin: 25px 0 15px 10px;
  font-variant-caps: petite-caps;
  font-weight: 500;
}

@media (max-width: 375px) {
  .About {
    max-width: 150px;
  }
  .section-about {
    margin: 0 auto;
  }
  .About h2 {
    font-size: 18px;
  }
  .About p {
    font-size: 14px;
    font-weight: normal;
  }
  .About li {
    font-size: 14px;
    font-weight: normal;
    list-style-type: number;
  }
}