.Category h1 {
  font-size: 30px;
  margin: 25px 0 15px 10px;
  font-variant-caps: petite-caps;
  font-weight: 500;
}

@media (max-width: 375px) {
  .Category {
    max-width: 150px;
    margin: 0 auto;
  }
}