.Support {
  max-width: 800px;
  padding-top: 13px;
  margin-left: 26px;
}

.Support h2{
  display: flex;
  justify-content: center;
  font-variant-caps: petite-caps;
  font-size: 26px;
}

.Support h3 {
  font-variant-caps: petite-caps;
  font-size: 22px;
}

.Support li {
  list-style: none;
}

.Support ul {
  padding: 0;
  font-size: 19px;
}

p {
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  padding: 0 15px;
}

.Links li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Links li a {
  color: #000;
  text-decoration: none;
  position: relative;
  padding-left: 10px;
}

.Links li a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 8px;
  background-color: rgb(0, 255, 21);
  transform: scaleX(0);
  transition: transform 1s ease, opacity 0.5s ease;
}

.Links li a:hover:after {
  transform: scaleX(1);
}

.Support h1 {
  font-size: 30px;
  margin: 25px 0 15px 10px;
  font-variant-caps: petite-caps;
  font-weight: 500;
}

@media (max-width: 375px) {
  .Support {
    max-width: 150px;
    margin-left: 12px;
  }
  .Support p {
    padding: 0 5px;
    font-size: 14px;
  }
  .Support h2 {
    font-size: 20px;
  }
  .Support h3 {
    font-size: 18px;
  }
  .Links li a {
    font-size: 14px;
  }
  .Links svg {
    width: 10%;
  }
}