/* Основной контейнер слайдера */
.slider {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding-bottom: 40px;
  height: 400px; /* Фиксированная высота */
}

/* Стиль для каждого слайда */
.slide {
  width: 100%;
  height: 100%; /* Используем 100% от высоты контейнера */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Стиль для изображений */
.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Стиль для стрелок */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(239, 178, 215, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

/* Адаптивные стили */

/* Малые устройства (телефоны) */
@media (max-width: 600px) {
  .slider {
    height: 300px; /* Уменьшение высоты для телефонов */
  }

  .arrow {
    padding: 5px; /* Уменьшение размера стрелок */
  }
}

/* Средние устройства (планшеты) */
@media (max-width: 900px) {
  .slider {
    height: 350px; /* Уменьшение высоты для планшетов */
  }

  .arrow {
    padding: 8px; /* Немного уменьшение размера стрелок */
  }
}

/* Большие устройства (настольные компьютеры и большие экраны) */
@media (min-width: 901px) {
  .slider {
    height: 400px; /* Стандартная высота для больших экранов */
  }
}
