/* Footer.css */

.footer {
  color: #997c7c;
  padding: 50px 0;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1 1 300px;
  margin-bottom: 20px;
}

.footer-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-description {
  font-size: 14px;
  line-height: 1.6;
}

.footer-column-menus {
  flex: 1 1 200px;
}

.footer-list {
  list-style-type: none;
  padding: 0;
}

.footer-list li {
  margin-bottom: 10px;
}

.footer-list a {
  color: #c3acac;
  text-decoration: none;
}

.footer-list a:hover {
  text-decoration: underline;
}

.footer-column-contact {
  flex: 1 1 250px;
}

.footer-contact-item {
  margin-bottom: 10px;
}

.footer-social-list {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.footer-social-item {
  margin-right: 10px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-item a {
  color: #0c0c0c;
  text-decoration: none;
}

.footer-social-item a:hover {
  text-decoration: underline;
}

.footer-bottom {
  padding: 10px 0;
}

.footer-bottom-text {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.GoUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.GoUp i {
  font-size: 24px;
  color: #181616;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.GoUp i:hover {
  background-color: #f2e9e9;
}
