.logo {
  position: relative;
  width: 100px; /* Задайте размеры логотипа */
  height: 100px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Обеспечивает сохранение пропорций изображения внутри элемента */
  transition: transform 0.3s ease; /* Плавная анимация при наведении */
}

.logo:hover img {
  transform: scale(1.1); /* Увеличение размера логотипа при наведении */
}

/* Адаптивные стили */

/* Малые устройства (телефоны) */
@media (max-width: 600px) {
  .logo {
    width: 50px; /* Уменьшение размера логотипа на малых устройствах */
    height: 50px;
  }
}

/* Средние устройства (планшеты) */
@media (max-width: 900px) {
  .logo {
    width: 80px; /* Уменьшение размера логотипа на планшетах */
    height: 80px;
  }
}
